.al_menu_item {
	float: left;
	font-size: 120%;
	margin: 0.3em;
	padding: 0.3em;
}

.al_menu_item:hover {
	background-color: #4477ee;
	cursor: pointer;
}

#al_menu_title {
	float: left;
	font-size: 200%;
	font-weight: bold;
	padding: 0.2em 0em 0.4em 0.4em;
}

#al_menu_title:hover {
	cursor: pointer;
}

#auralight_menu {
	background: linear-gradient( #323232, #3060b0 );
	background-color: #3060b0;
	color: #ffff00;
	font-family: Calibri, sans-serif;
}

.login_button {
	background-color: #880000;
	border: 1px black solid;
	color: white;
	float: right;
	font-family: Calibri, sans-serif;
	font-size: 120%;
	font-weight: bold;
	margin-right: 0.2em;
}

#login_button_container {
	padding: 0.3em;
}

.logout_button {
	background-color: #880000;
	border: 1px black solid;
	color: white;
	float: right;
	font-family: Calibri, sans-serif;
	font-size: 120%;
	font-weight: bold;
	margin-right: 0.2em;
}

.login_button:hover {
	background-color: #ff0000;
	color: black;
	cursor: pointer;
}

.logout_button:hover {
	background-color: #ff0000;
	color: black;
	cursor: pointer;
}

#login_fields {
	float: right;
}

#login_information {
	float: right;
}

.clear {
	clear: both;
}
#username, #userpass {
	background-color: #3060a0;
	border: 1px black solid;
	color: white !important;
	font-family: Consolas, monospace;
	font-size: 90%;
	margin-right: 0.5em;
	padding: 0.2em;
	resize: none;
	width: 8em;
}

@-moz-document url-prefix() {
	textarea, input[type="password"] {
		height: 1.1em;
	}
}
